body{


    background-image: -o-linear-gradient(rgb(0,0,0,0.75),rgba(0,0,0,0.75),url("https: //cdn.pixabay.com/photo/2024/03/20/21/04/woman-8646393_640.jpg"));
    background-size: cover;
    width: 98%;
    height: 98vh;

}
.header{


    width: 85%;
    display: flex;
    justify-content: space-between;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    cursor: pointer;
}
.header li{

    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    
}

.header li:hover {

   color: black;

}




button{


    background-color: rgb(226, 43, 113);
    padding: 10px;
    color: white;
    width: 100px;
    font-size: 18px;
    cursor: pointer;
}

.header input{

    background-color: crimson;
    color: black;
    height: 40px;
    width: 120px;
    margin-top: 20px;
    padding-left: 20px;
    outline: none;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
color: azure;    padding-left: 5px;
    font-size: 20px;
}


.body-section{
 display: flex;
flex-direction: column;
 width: 50%;
 margin: 10% 0 0 30%;
 align-items: center;
 justify-content: center;
 color: black;
 display: flex;

}
h1{

    font-size: 40px;
}
.body-section button{

background-color: deeppink;
    padding: 10px;
    color: white;
    width: 120px;
    font-size: 18px;
    cursor: pointer;
    display: inline;
    justify-content: center;

}
.body-section button:hover {

    background-color: rgb(226, 43, 113);
    color: rgb(40, 245, 43);
    

}

.body-section .font{

    display: inline-flex;
    justify-content: center;
    background-color: rgb(198, 17, 135);
    padding: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 110px;
 
}
.body-section .font{


    background-color: deeppink;
    color: white;
}





