@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "lato", sans-serif;
}


.outer-box {
    height: 100vh;
    width:
        100vw;
    background: linear-gradient(to top left, rgb(190, 199, 20), rgb(79, 9, 119));
}

.inner-box {

    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 30px;
    background: linear-gradient(to top left, #ffffffff, #fff5);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 5p, #212121;


}

.signup-header h1 {


    font-size: 2.5em;
    color: #212121;

}


.signup-header p {

    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.signup-body {


    margin: 20px 0px;
    font: bolder;
}

.signup-body label {


    display: block;
    font-weight: bold;
    font: bold;
}

.signup-body input {


    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 7px;
    outline: none;
    font-size: 1em;
    border: 2px solid blueviolet;
}


.signup-body input[type=submit] {
    background-color: darkgoldenrod;
    border: 5px;
    color: black;
    cursor: pointer;




}

.signup-body input[type=submit]:hover {
    background-color: aqua;





}

.Signup-footer p a {

    color: rgb(9, 21, 101);
}

.Signup-footer p {

    color: rgb(149, 19, 93);
    font-weight: bold;
    text-align: center;

    text-align: center;
}